@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
    background-color: #474646;
}

#title {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    text-align: center;
    color: white;
    text-shadow: 2px 2px #141414;
}

#subtitle {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200;
    text-align: center;
    color: white;
    text-shadow: 2px 2px #141414;
}

.navmenu {
    position: relative;
    overflow: hidden;
    background-color: #171616;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 100;
}

.navmenu a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size 17px;
    text-shadow: 2px 2px #141414;
}

.navmenu a:hover {
    background-color: #878787;
}

.navmenucenter a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navmenuright {
  float: right;
}

.grid-container {
    padding-top: 20px;
    margin: auto;
    display: grid;
    width: 375px;
    grid-template-columns: 160px 160px;
    grid-row: auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

img {
    max-width: 300px;
    max-height: 200px;
}

#project1title {
    text-align: center;
    padding-right: 50px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200;
    color: white;
    text-shadow: 2px 2px #141414;
}

#project2title {
    text-align: center;
    float: right;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200;
    color: white;
    text-shadow: 2px 2px #141414;
}